global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen patroni
    bind *:5432
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    
    {% for server in backend_servers %}
    server pg_{{ server }} {{ server }}:5432 maxconn 100 check port 8008
    {% endfor %}

listen redis
    bind *:6379
    option tcp-check
    tcp-check connect
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    tcp-check expect string +OK

    {% for server in groups[group_names[0]] | map('extract', hostvars, ['ansible_host']) %}  
    server redis_{{ server }} {{ server}}:6379 check inter 3s
    {% endfor %}
