*.tfstate
*.tfstate.*.backup
*.tfstate.backup
terraform.private.tfvars
backend.tf
.terraform/
.terraform.lock.hcl
.vagrant/
.vscode/
letsencrypt
*.pub
*.key
*.PUB
*.KEY
*.pem
*output.txt
inventory.yml
site.yml
ansible.cfg
ssh.cfg
*.tmp
*.ini