yc_token                     = "<your-token>"
yc_cloud_id                  = "<your-cloud-id>"
yc_folder_id                 = "your-folder-id"
patroni_superuser_username   = "root"
patroni_superuser_password   = "password"
patroni_replication_username = "replicator"
patroni_replication_password = "password"
nextcloud_admin_username     = "admin"
nextcloud_admin_password     = "password"