POSTGRES_HOST=haproxy
POSTGRES_USER={{ patroni_superuser_username }}
POSTGRES_PASSWORD={{ patroni_superuser_password }}
POSTGRES_DB=nextcloud
NEXTCLOUD_TRUSTED_DOMAINS="backend 127.0.0.1 {{ domain_name }} {{ groups[group_names[0]] | map('extract', hostvars, ['ansible_host']) | join(' ')}}"
OVERWRITECLIURL=https://{{ domain_name }}
NEXTCLOUD_ADMIN_USER="{{ nextcloud_admin_username }}"
NEXTCLOUD_ADMIN_PASSWORD="{{ nextcloud_admin_password }}"
REDIS_HOST={{redis_host}}