version: '3'

services:
  redis:
    image: bitnami/redis:7.0
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_REPLICATION_MODE=master
    networks:
      - app-tier
  redis-sentinel:
    image: bitnami/redis-sentinel:7.0
    environment:
      - REDIS_MASTER_HOST="{{ hostvars[groups[group_names[0]][0]]['ansible_eth0']['ipv4']['address'] }}"
    ports:
      - '26379:26379'
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge