---
- name: etcd
  hosts: etcd
  become: true

  roles:
    - etcd
  tags: etcd

- name: patroni
  hosts: db
  become: true
  vars:
    etcd_servers: "{{ groups['etcd'] | map('extract', hostvars, ['ansible_host']) | join(':2379,') }}:2379"
    superuser_username: ${ patroni_superuser_username }
    superuser_password: ${ patroni_superuser_password }
    replication_username: ${ patroni_replication_username }
    replication_password: ${ patroni_replication_password }
  roles:
    - patroni
  tags: patroni

- name: nginx
  hosts: app_proxy
  become: true
  vars:
    domain_name: ${ domain_name }
    backend_servers: "{{ groups['app'] | map('extract', hostvars, ['ansible_host']) }}"    
  roles:
    - nginx
  tags: nginx

- name: glusterfs nextcloud data
  hosts: app
  become: true
  vars:
    app_directory: /nextcloud_data
    gluster_brick_dir: /srv/gluster/brick1
    gluster_brick_name: nextcloud_data
  roles:
    - glusterfs
  tags: glusterfs

- name: glusterfs nextcloud config
  hosts: app
  become: true
  vars:
    app_directory: /nextcloud_config
    gluster_brick_dir: /srv/gluster/brick2
    gluster_brick_name: nextcloud_config
  roles:
    - glusterfs
  tags: glusterfs

- name: redis
  hosts: app-0
  become: true   
  roles:
    - redis
  tags: redis

- name: Nextcloud
  hosts: app
  become: true
  vars:
    domain_name: ${ domain_name }
    backend_servers: "{{ groups['db'] | map('extract', hostvars, ['ansible_host']) }}"
    nextcloud_data_directory: /nextcloud_data
    nextcloud_config_directory: /nextcloud_config
    patroni_superuser_username: "${ patroni_superuser_username }"
    patroni_superuser_password: "${ patroni_superuser_password }"
    nextcloud_admin_username: "${ nextcloud_admin_username }"
    nextcloud_admin_password: "${ nextcloud_admin_password }"
    redis_host: "{{ hostvars[groups['app'][0]]['ansible_eth0']['ipv4']['address'] }}"
  roles:
    - nextcloud
  tags: nextcloud